<script setup lang="ts">
import { useProductsStore } from "@/stores/products";
import { computed } from "vue";

const PLACEHOLDERS_COUNT: number = 7;

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  }
});

const store = useProductsStore();

/**
 * Makes the pagination data from product storage
 * @type {ComputedRef<*[]>}
 */
const pages = computed((): object[] => {
  const result = [];
  let currentPage: number = 1;
  let currentSkip: number = 0;
  let activePage: number = 0;
  const total: number = store.state.total;
  const perPage: number = store.state.perPage;
  const skip: number = store.state.skip;

  while(currentSkip <= total) {
    const isCurrentPage: boolean = currentSkip === skip;
    if(isCurrentPage) {
      activePage = currentPage;
    }

    result.push({
      index: currentPage,
      skip: currentSkip,
      current: isCurrentPage,
    });

    currentSkip += perPage;
    currentPage++;
  }

  let startSlice: number = 0;
  if(activePage > 4) {
    startSlice = activePage - 4;
  }

  let endSlice: number = result.length;
  if(endSlice > 7) {
    endSlice = activePage + 3;
  }

  return result.slice(startSlice, endSlice);
});

/**
 * Changes page end loads products
 * @param skip
 */
function changePage(skip: number): void {
  store.changePage(skip);
}

/**
 * Loads preview page
 */
function prev(): void {
  const prevPage: number = store.state.skip - store.state.perPage;
  if(prevPage >= 0) {
    store.changePage(prevPage);
  }
}

/**
 * Loads next page
 */
function next(): void {
  const nextPage: number = store.state.skip + store.state.perPage
  if(nextPage < store.state.total) {
    store.changePage(nextPage);
  }
}
</script>

<template>
  <nav class="blog-pagination justify-content-center d-flex" v-if="!props.loading">
    <ul class="pagination">
      <li class="page-item">
        <span class="page-link" aria-label="Previous" @click="prev">
          <span aria-hidden="true">
            <i class="fa fa-chevron-left"></i>
          </span>
        </span>
      </li>

      <li
          v-for="page in pages"
          :key="page.index"
          class="page-item"
          :class="{'active': page.current}"
      >
        <span
            class="page-link"
            @click="changePage(page.skip)"
        >
          {{ page.index }}
        </span>
      </li>

      <li class="page-item">
        <span class="page-link" aria-label="Next" @click="next">
          <span aria-hidden="true">
            <i class="fa fa-chevron-right"></i>
          </span>
        </span>
      </li>
    </ul>
  </nav>

  <div v-else class="blog-pagination d-flex align-items-center justify-content-center">
    <div v-for="item in PLACEHOLDERS_COUNT" :key="item" class="p-1">
      <span class="placeholder mr-2" style="width: 36px; height:36px;"></span>
    </div>
  </div>
</template>