<script setup>
import { useProductsStore } from "@/stores/products";
import Pagination from './Paginations.vue'

const store = useProductsStore();
store.loadProducts();
</script>

<template>
  <section class="lattest-product-area pb-40 category-list">
    <div class="row" v-if="!store.state.loadingProducts">
      <div v-for="product in store.state.products" class="col-md-6 col-lg-4">
        <div class="card text-center card-product">
          <div class="card-product__img">
            <img class="card-img" :src="product.images[0]" :alt="product.title">
          </div>

          <div class="card-body">
            <p>{{ product.brand }}</p>

            <h4 class="card-product__title">
              <router-link :to="'/product/' + product.id">
                {{ product.title }}
              </router-link>
            </h4>

            <p class="card-product__price">${{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-else>
      <div v-for="product in store.state.perPage" class="col-md-6 col-lg-4" aria-hidden="true">
        <div class="card" aria-hidden="true">
          <div class="card-body">
            <div class="mb-3">
              <div class="placeholder col-12" style="height: 200px"></div>
            </div>

            <div class="text-center">
              <div class="placeholder col-5 placeholder-sm"></div>
            </div>
            <div class="text-center">
              <div class="placeholder col-5 placeholder-lg"></div>
            </div>
            <div class="text-center">
              <div class="placeholder col-5 placeholder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Pagination :loading="store.state.loadingProducts"/>
  </section>
</template>