<script setup lang="ts">
import { useProductsStore } from "@/stores/products";

const PLACEHOLDERS_COUNT = 10;

const store = useProductsStore();
store.loadCategories();

/**
 * Sets category end reload products
 * @param category
 */
function changeCategory(category: string): void {
  store.setCategory(category);
}
</script>

<template>
  <ul class="main-categories">
    <li class="common-filter">
      <form action="#">
        <ul v-if="!store.state.loadingCategories">
          <li v-for="category in store.state.categories" class="filter-list">
            <input
              type="radio"
              name="category"
              class="pixel-radio"
              :id="category"
              :checked="store.state.selectedCategory === category"
              @change="changeCategory(category)"
            >

            <label :for="category">{{ category }}</label>
          </li>
        </ul>

        <ul v-else>
          <li v-for="item in PLACEHOLDERS_COUNT" :key="item" class="filter-list">
            <input type="radio" class="pixel-radio" />

            <div class="placeholder placeholder w-75"></div>
          </li>
        </ul>
      </form>
    </li>
  </ul>
</template>