<script setup lang="ts" async>
import { useCartStore } from "@/stores/cart";
import { useRouter } from 'vue-router';
const storeCart = useCartStore();
const router = useRouter();

if(storeCart.state.items.length === 0) {
  router.push({ name: 'products' });
}

/**
 * Buys the cart and redirect on the products page
 */
function buy(): void {
  if (window.confirm('Buy?')) {
    storeCart.clear();
    router.push({ name: 'products' });
  }
}
</script>

<template>
  <section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in storeCart.state.items">
              <td>
                <div class="d-flex media">
                  <div class="d-flex">
                    <img :src="item.thumbnail" :alt="item.title" width="150" height="100" style="object-fit: cover">
                  </div>
                  <div class="media-body">
                    <p>{{ item.title }}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5>${{ item.price }}</h5>
              </td>
              <td>
                <div class="product_count">
                  <button
                      class="increase items-count"
                      type="button"
                      @click.prevent="storeCart.countMinus(item)"
                  >
                    <i class="ti-angle-left"></i>
                  </button>

                  <input
                      type="text"
                      name="qty"
                      id="sst"
                      maxlength="12"
                      :value="item.count"
                      title="Quantity:"
                      class="input-text qty"
                      disabled
                  />

                  <button class="reduced items-count me-4" type="button" @click.prevent="storeCart.countPlus(item)">
                    <i class="ti-angle-right"></i>
                  </button>
                </div>
              </td>
              <td>
                <h5 class="d-inline-block me-2">
                  ${{ item.price * item.count }}
                </h5>

                <button class="d-inline-block p-0 border-0 bg-white" @click="storeCart.remove(item)">
                  <i class="far fa-times-circle"></i>
                </button>
              </td>
            </tr>
            <tr class="bottom_button">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="d-flex align-items-center">
                  <a class="btn btn-primary" href="#" @click.prevent="buy">Apply</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>

              </td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5>${{ storeCart.total }}</h5>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>
