<script setup lang="ts">
import Categories from '../components/Categories/Categries.vue'
import Products from '../components/Products/Products.vue'
</script>

<template>
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>

            <Categories />
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <Products />
        </div>
      </div>
    </div>
  </section>
</template>
