<script setup lang="ts" async>
import { ref } from 'vue';
import { useRouter, onBeforeRouteLeave } from 'vue-router';
import { useProductsStore } from "@/stores/products";
import { useCartStore } from "@/stores/cart";

const DEFAULT_COUNT = 1;

const router = useRouter();
const storeProducts = useProductsStore();
const storeCart = useCartStore();
const count = ref(DEFAULT_COUNT);

const props = defineProps({
  id: {
    type: Number,
    required: true,
  }
});

storeProducts.loadProduct(props.id);

const state = storeProducts.state;

/**
 * Go to the selected category page
 */
function goCategory(): void {
  if (state.product) {
    storeProducts.setCategory(state.product.category);
  }

  router.push({name: 'products'});
}

/**
 * Adds product to the cart
 */
function addToCart(): void {
  const product = Object.assign({}, state.product);
  product.count = count.value;
  storeCart.add(product);
  count.value = 1;
}

/**
 * Prevents change page if count was changed
 */
onBeforeRouteLeave((to, from): boolean => {
  let answer = true;
  if (count.value !== DEFAULT_COUNT) {
    answer = window.confirm('You have an unfinished action. Leave the page?')
  }

  return answer;
})
</script>

<template>
  <div class="product_image_area">
    <div v-if="!state.loadingProduct" class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
          <div class="owl-carousel owl-theme s_Product_carousel">
            <div class="single-prd-item">
              <img class="img-fluid" :src="state.product.thumbnail" alt="">
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3>{{ state.product.title }}</h3>

            <h2>${{ state.product.price }}</h2>

            <ul class="list">
              <li><a class="active" @click="goCategory"><span>Category</span> {{ state.product.category }}</a></li>

              <li v-if="state.product.stock > 0"><a><span>Availibility</span> In Stock</a></li>

              <li>
                <a style="color: orange">
                  <span>Rating</span>

                  <template v-for="(number, index) in 5" :key="index">
                    <i class="fa fa-star" v-if="number <= state.product.rating"></i>

                    <i v-else class="far fa-star"></i>
                  </template>
                </a>
              </li>
            </ul>

            <p>{{ state.product.description }}</p>

            <div class="mt-4 product_count">
                <label for="qty">Quantity:</label>

                <button
                    class="increase items-count"
                    type="button"
                    @click.prevent="count <= DEFAULT_COUNT ? count = DEFAULT_COUNT : count--"
                >
                  <i class="ti-angle-left"></i>
                </button>

                <input
                    v-model="count"
                    type="number"
                    id="qty"
                    class="input-text qty"
                />

                <button class="reduced items-count me-4" type="button" @click.prevent="count++">
                  <i class="ti-angle-right"></i>
                </button>

              <a class="button primary-btn" href="#" @click.prevent="addToCart">
                Add to Cart
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div v-else class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
          <div class="owl-carousel owl-theme s_Product_carousel">
            <div class="single-prd-item">
              <div class="placeholder w-100" style="height: 400px;"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3><span class="placeholder placeholder-lg w-25"></span></h3>

            <h2><span class="placeholder placeholder-lg w-25"></span></h2>

            <ul class="list">
              <li><span class="placeholder w-25"></span></li>

              <li><span class="placeholder w-25"></span></li>

              <li><span class="placeholder w-25"></span></li>
            </ul>

            <p>
              <span class="placeholder w-100"></span><br>

              <span class="placeholder w-100"></span><br>

              <span class="placeholder w-100"></span><br>
            </p>

            <div class="mt-4 mb-4">
              <span class="placeholder me-3" style="width: 60px"></span>

              <span class="placeholder placeholder-lg me-4" style="height: 30px; width: 60px"></span>

              <span class="btn btn-primary placeholder w-25" style="height: 50px;"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
