<script setup>
import { RouterLink } from 'vue-router';
import { useCartStore } from "@/stores/cart";
import { inject } from "vue";

const storeCart = useCartStore();
const { theme, toggleTheme } = inject('theme');
</script>

<template>
  <header class="header_area">
    <div class="py-3 main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <router-link :to="{name: 'products'}">
            <i class="fas fa-store-alt"></i> VueShop
          </router-link>

          <ul class="nav-shop">
            <li class="nav-item">
              <router-link :to="{name: 'cart'}">
                <i class="ti-shopping-cart"></i>

                <span class="nav-shop__circle">{{ storeCart.count }}</span>
              </router-link>
            </li>
            <li class="nav-item">
              <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="switchTheme"
                    :checked="theme === 'dark'"
                    @change="toggleTheme"
                />

                <label class="form-check-label" for="switchTheme">Theme Light/Dark</label>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>