<script setup lang="ts">
import { inject } from 'vue'
import {  RouterView } from 'vue-router'
import Header from '@/components/Header/Header.vue'

const { theme } = inject('theme');
</script>

<template>
  <div :class="[theme]">
    <Header />

    <main>
      <Suspense>
        <RouterView />
      </Suspense>
    </main>

    <footer>
      <div class="footer-bottom">
        <div class="container">
          <div class="row d-flex">
            <p class="col-lg-12 footer-text text-center">
              Copyright &copy;2023 All rights reserved | This template is made with
              <i class="fa fa-heart" aria-hidden="true"></i>
              by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
